vj3_2.dtd

<!ELEMENT Osoba(Ime, Prezime, MjestoStanovanja, Kontakt, Mobitel)>
<!ELEMENT Ime (#PCDATA)>
<!ELEMENT Prezime (#PCDATA)>
<!ELEMENT MjestoStanovanja (#PCDATA)>
<!ELEMENT MjestoStanovanja(Adresa, Grad, Drzava)>
<!ELEMENT Adresa (#PCDATA)>
<!ELEMENT Grad (#PCDATA)>
<!ELEMENT Drzava (#PCDATA)>
<!ELEMENT Kontakt (#PCDATA)>
<!ELEMENT Kontakt(Mobitel, KucniTelefon, eMail)>
<!ELEMENT Mobitel (#PCDATA)>
<!ELEMENT KucniTelefon (#PCDATA)>
<!ELEMENT eMail (#PCDATA)>
