k/schemaNekretnina.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="Nekretnine">
        <xs:complexType>

            <xs:element name="Nekretnina">

                <xs:complexType>

                    <xs:attribute name="id" type="xs:integer" use="required"/>
                    <xs:element name="Naslov" type="xs:string"/>
                    <xs:element name="Tip">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumerate value="Stan"/>
                                <xs:enumerate value="Kuća"/>

                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>

                    <xs:element name="Lokacija">
                        <xs:complexType>
                            
                            <xs:element name="Grad" type="xs:string"/>
                            <xs:element name="Općina" type="xs:string"/>
                            <xs:element name="Adresa" type="xs:string"/>
                        </xs:complexType>
                    </xs:element>

                    <xs:element name="Cijena" type="xs:positivInteger"/>
                    <xs:element name="Površina" type="xs:positivInteger"/>
                </xs:complexType>
            </xs:element>
        </xs:complexType>
    </xs:element>
</xs:schema>